<!DOCTYPE html>
<head>
  <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
  <script type="text/javascript" src="js/jquery.tablesorter.widgets.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
  <link rel="stylesheet" href="css/theme.bootstrap.css" type="text/css"/>
  <link rel="stylesheet" href="css/style.css" type="text/css"/>
  <title>Debian GitLab packaging status</title>
  <script>
  $(function(){
    $.extend($.tablesorter.themes.bootstrap, {
      table      : 'table table-bordered',
      header     : 'bootstrap-header',
      sortNone   : 'bootstrap-icon-unsorted',
      sortAsc    : 'icon-chevron-up',
      sortDesc   : 'icon-chevron-down',
    });

    $('table').tablesorter({
      theme : "bootstrap",
      headerTemplate : '{content} {icon}',
      widgets : [ "uitheme","indexFirstColumn" ],
      usNumberFormat : false,
      sortReset      : true,
      sortRestart    : true
    });
  });



$(function() {
    // add new widget called indexFirstColumn
    $.tablesorter.addWidget({
        // give the widget a id
        id: "indexFirstColumn",
        // format is called when the on init and when a sorting has finished
        format: function(table) {               
            // loop all tr elements and set the value for the first column  
            for(var i=0; i < table.tBodies[0].rows.length; i++) {
                $("tbody tr:eq(" + i + ") td:first",table).html(i+1);
            }                                   
        }
    });
});



  </script>
  <style>
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
        background-color: #E1A3E0;
    }
.table > thead > tr > td.itp, .table > tbody > tr > td.itp, .table > tfoot > tr > td.itp, .table > thead > tr > th.itp, .table > tbody > tr > th.itp, .table > tfoot > tr > th.itp, .table > thead > tr.itp > td, .table > tbody > tr.itp > td, .table > tfoot > tr.itp > td, .table > thead > tr.itp > th, .table > tbody > tr.itp > th, .table > tfoot > tr.itp > th {
        background-color: #5BC0DE;
    }
  </style>
</head>
<body class="container">
<center><h1>Debian Gitlab Packaging Status</h1></center>
  <div class="row header" width="100%">
      <table style="width:100%;margin-top:1%;text-align:center">
          <tr>
              <td>Total</td>
              <td>Packaged</td>
              <td>ITP</td>
              <td>Unpackaged</td>
              <td>Status</td>
          </tr>
          <tr>
              <td><h2>{{total}}<h2></td>
              <td style="color:green"><h2>{{packaged_count}}<h2></td>
              <td style="color:#5BC0DE"><h2>{{itp_count}}<h2></td>
              <td style="color:red"><h2>{{unpackaged_count}}<h2></td>
              <td><h2>{{percent_complete}}%<h2></td>
          </tr>
      </table>
    <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-success" style="width: {{packaged_count*100/total}}%;"></div>
      <div class="progress-bar progress-bar-danger" style="width: {{unpackaged_count*100/total}}%;"></div>
      <div class="progress-bar progress-bar-info" style="width: {{itp_count*100/total}}%;"></div>
    </div>
  <div class="row well">
    <table class="table table-bordered tablesorter">
      <thead>
        <tr>
          <th data-sorter="false" class="{sorter: false}">Sl. No</th>
          <th>Gem</th>
          <th>Gem Requirement</th>
          <th>Debian Version</th>
          <th>Suite</th>
          <th>Status</th>
        </tr>
      </thead>
      {% for gem in status %}
        <tr class="{{ status[gem][3].strip() }}">
            <td>{{count}}</td>
            {% set count = count+1 %}
            <td><a href="http://rubygems.org/gems/{{ gem }}">{{gem}}</a></td>
          <td>{{ status[gem][0] }}</td>
          <td>{{ status[gem][1] }}</td>
          <td>{{ status[gem][2] }}</td>
          <td>{{ status[gem][4] }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</body>
